<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- Sustituye SERVER_NAME y BD_STOCK por tus valores reales -->
    <add name="MiConexion" connectionString="Server=(local);Database=BD_STOCK;Integrated Security=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>