USE [BD_GESTION]
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarRestriccion]    Script Date: 13/8/2025 21:05:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_ActualizarRestriccion]
   @Restriccion NVARCHAR(100),
   @Caracteres_Min NVARCHAR(10),
   @Activo BIT
AS
BEGIN
   UPDATE Restricciones
   SET Caracteres_Min = @Caracteres_Min,
       Activo = @Activo
   WHERE Restriccion = @Restriccion
END