
CREATE PROCEDURE sp_CodigoPostal
    @CodigoPostal INT
AS
    SELECT 
        l.Id_Localidad,
        p.Id_Partido,
        pr.Id_Provincia,
l.Localidad AS Localidades,
p.Partido AS Partidos,
pr.Provincia as Provincias

    FROM Localidades l
    INNER JOIN Partidos p ON l.Id_Partido = p.Id_Partido
    INNER JOIN Provincias pr ON p.Id_Provincia = pr.Id_Provincia
    WHERE l.Codigo_postal = @CodigoPostal;
GO