CREATE PROCEDURE sp_ObtenerRestricciones
AS
BEGIN
    -- Habilitados
    SELECT 
        Id_Restriccion, Restriccion, Caracteres_Min, Activo, Id_Tipo
    FROM Restricciones
    WHERE Activo = 1;

    -- No habilitados
    SELECT 
        Id_Restriccion, Restriccion, Caracteres_Min, Activo, Id_Tipo
    FROM Restricciones
    WHERE Activo = 0;
END;
GO