USE [BD_GESTION]
GO
ALTER PROCEDURE [dbo].[sp_ObtenerUsuarioPorNombre]
    @Usuario NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id_Usuario,
        Id_Persona,
        Usuario,
        Contrasena,
        Bloqueado,
        Fecha_Bloqueo,
        CambioContra,
        FechaCambioContra,
        Id_Rol
    FROM 
        Usuarios
    WHERE 
        Usuario = @Usuario;
END;
